@{
    ViewBag.Title = "Acerca de";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>

    <p>
        Ejemplo de un aplicación web de e-commerce para un vivero desarrollada en .NET MVC, implementando un patrón de repositorio.<br />
        Tecnologias utilizadas:<br />
        Front-End: HTML, CSS, JavaScript; librerias Bootstrap y JQuery.<br />
        Back-end: C#.NET -> Entity Framework (Code First) -> SQL Server.
    </p>
    <h3>API</h3>
    <p>
        /api/values -> Devuelve todos los productos.<br />
        /api/values/{id} -> Devuelve el producto correspondiente al id dado.
    </p>

    <div>
        Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
        , <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a>
        , <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a>
        and <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
</div>
