@{
    ViewBag.Title = "Home Page";
}

<section id="MostrarImagenes">
    <div class="container-fluid p-0 m-0">
        <div class="row justify-content-center m-0">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption text-center">
                            <h3>Lorem Ipsum</h3>
                            <p>Dolor sit amet, consectetuer adipiscing elit</p>
                        </div>
                        <img class="d-block img-fluid" src="~/Images/agriculture-ball-shaped-cooking-5808.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption text-center">
                            <h3>Aenean massa</h3>
                            <p>Cum sociis natoque penatibus et magnis</p>
                        </div>
                        <img class="d-block img-fluid" src="~/Images/cacti-gardening-grow-707194.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption text-center">
                            <h3>Donec quam felis</h3>
                            <p>Nulla consequat massa quis enim</p>
                        </div>
                        <img class="d-block img-fluid" src="~/Images/design-garden-gardening-162443.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>