<div class="social">
    <ul class="list-unstyled"> 
        <li class="my-2">
            <a href="https://www.linkedin.com">
                <img src="~/Images/linkedin.png" width="48" class="social-icon" />
            </a>
        </li>
        <li class="my-2">
            <a href="https://www.github.com">
                <img src="~/Images/github.png" width="48" class="social-icon" />
            </a>
        </li>
    </ul>
</div>
