@{
    ViewBag.Title = "CheckOut";
}
<div class="container"> 
    <h3>CheckOut</h3>
    <hr class="border-secondary" />
    <h1 class="mb-2">¡Gracias por su compra!</h1>
    <a href="@Url.Action("Index", "Plantas")">Volver</a>
</div>
